*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!.gradle/
!.idea/libraries/
!.idea/workspace.xml
!app/app.iml
!app/build/
!app/libs/
!app/src/main/res/drawable/
!build/
!local.properties
!RN2UITest.iml
