<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unidesign.ussdsmscodes"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.DIAL" />
    <!-- uses-permission android:name="android.permission.SEND_SMS"/ -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.fingerprint"
        android:required="false"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->

        <activity
            android:name=".RN_USSD"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

            </intent-filter>
        </activity>
        <activity
            android:name=".editUSSDTemplate"
            android:label="@string/ussd_edit_form"
            android:parentActivityName=".RN_USSD"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unidesign.ussdsmscodes.RN_USSD" />

            <intent-filter>
                <action android:name="intent.action.newussd" />
                <action android:name="intent.action.editussd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".editSMSTemplate"
            android:label="@string/sms_edit_form"
            android:parentActivityName=".RN_USSD"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unidesign.ussdsmscodes.RN_USSD" />

            <intent-filter>
                <action android:name="intent.action.newsms" />
                <action android:name="intent.action.editsms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImportActivity.ImportTemplateActivity"
            android:label="@string/import_template_form"
            android:parentActivityName=".RN_USSD"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unidesign.ussdsmscodes.RN_USSD" />

            <intent-filter>
                <action android:name="intent.action.import_templates" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsTools.RestoreActivity"
            android:label="@string/restore_activity_form"
            android:parentActivityName=".RN_USSD"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unidesign.ussdsmscodes.RN_USSD" />

            <intent-filter>
                <action android:name="intent.action.restore_templates" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".TempContentProvider.TempContentProvider"
            android:authorities="unidesign.ussdsmscodes.TempContentProvider"
            android:label="USSD/SMS Templates Provider">

        </provider>

        <activity
            android:name=".Preferences.SettingsPrefActivity"
            android:label="Settings"
            android:parentActivityName=".RN_USSD"
            android:theme="@style/AppTheme.Settings">
            <intent-filter>
                <action android:name="intent.action.settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Preferences.Pin_lock_activity"
            android:label="Enter PIN"
            android:parentActivityName=".RN_USSD"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.PINWindow">
            <intent-filter>
                <action android:name="intent.action.pin_lock_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".IntroSlider.WelcomeActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="intent.action.introslider" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>